$primary-orange: #f75c49;
$accent-orange: #cc4836;

$peach: #f99589;

$grey: #767676;
$dark-grey: #222;
$light-grey: #999;
$grey-teacher-filter: #767676;
$chevron-grey: #888;

$popup-grey: #464547;

$star-yellow: #ecec02;

$table-pink: #f9f5f9;
$table-hover-grey: #fafafa;

$aquamarine: #1a9cb0;
$dark-aquamarine: #10616d;

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $dark-grey;
  font-weight: 400;
}

// ========= General =========

.flex-container {
  display: flex;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}

.btn {
  background: none;
  color: $primary-orange;
  border: 1px solid $primary-orange;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: $primary-orange;
  color: #fff;
}

hr {
  color: $dark-grey;
  max-width: 50rem;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.gird--5-col {
  grid-template-columns: repeat(5, 1fr);
}

.grid--2-col {
  grid-template-columns: repeat(2, 1fr);
}

label {
  color: $light-grey;
}

label:hover,
label:active {
  color: $dark-grey;
}

// ========= Header section =========

.header-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.header__top-flex-container,
.header__bottom-flex-container {
  justify-content: space-between;
  align-items: center;
}

.header__top-flex-container {
  margin-bottom: 6rem;
}

.header__bottom-flex-container {
  margin-bottom: 4rem;
}

.company-name {
  font-size: 4.4rem;
  font-family: serif;
  color: white;
  text-shadow: -1px -1px  $primary-orange, 1px 1px #000;
  transition: all .3s;
}

.company-name:hover {
  text-shadow: -2px -1px  $primary-orange, 2px 1px #000;
}

.search-field {
  width: 22rem;
  height: 4.2rem;
  padding-left: 1rem;
  font-size: 1.4rem;
  color: $grey;
  border: 1px solid $grey;
  border-radius: 1px;
  transition: all .5s;
  margin-right: 2rem;
}
.search-field:hover,
.search-field:focus,
.search-field:active
 {
  width: 40rem;
}

.search-button {
  width: 9.4rem;
  height: 4.2rem;
  font-size: 1.4rem;
}


.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
}

.nav-link:link,
.nav-link:visited {
  font-size: 2.2rem;
  color: $primary-orange;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: $accent-orange;
}

.add-teacher-btn {
  font-size: 2.2rem;
  width: 17rem;
  height: 5.3rem;
  background: none;
}

// ========= Top teacher section =========

.top-teacher-section {
  padding-bottom: 4rem;
}

.section-heading {
  font-size: 3.6rem;
  margin-bottom: 4rem;
}

.teachers-filter {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 6rem;
}

.teachers-filter__group {
  display: flex;
  align-items: center;

  .teachers-filter__label, .teachers-filter__select {
    font-size: 1.4rem;
    border-color: $grey-teacher-filter;
  }

  .teachers-filter__select {
    height: 3.6rem;
    padding-right: 1rem;
    border-radius: 2px;
  }

  .teachers-filter__label + .teachers-filter__select {
    margin-left: 1rem;
  }

  .teachers-filter__label:hover,
  .teachers-filter__label:active {
    color: $dark-grey;
  }
}

.teachers-filter__group + .teachers-filter__group {
  border-left: 2px dotted $grey;
  padding-left: 2rem;
}

.top-teachers-grid {
  grid-row-gap: 4rem;
  justify-items: center;
  margin-bottom: 6rem;
}

.teacher-card {
  display: flex;
  flex-direction: column;
  width: 15rem;
  align-items: center;
  position: relative;
}

.teacher-card img {
  width: 100%;
  height: auto;
}

.teacher-card__photo-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;

  border: 5px solid $peach;
  border-radius: 50%;
  overflow: clip;
  width: 15rem;
  height: 15rem;
}

.teacher-card.star:before {
  content: url("../images/star.svg");
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 0;
  right: 0;
}

.teacher-card span {
  font-size: 2.8rem;
  color: $primary-orange;
}

.teacher-card__name, .teacher-card__surname {
  font-weight: 600;
  font-size: 2.2rem;
}

.teacher-card__name{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.teacher-card__surname {
  margin-bottom: 1rem;
}

.teacher-card__speciality {
  color: $light-grey;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.teacher-card__country {
  font-size: 1rem;
}

.teacher-card__photo-wrapper:hover {
  border-color: $accent-orange;
}

.teacher-card__photo-wrapper:hover img{
  transform: scale(1.15);
}

.teacher-card__photo-wrapper:hover span {
  color: $accent-orange;
  transform: scale(1.15);
}


// ========= Statistics section =========

.statistic-section {
  padding-bottom: 4rem;
}


//// Table

.statistic-table {
  width: 100%;
  margin-bottom: 3rem;
  table-layout: fixed;
}


.statistic-table th {
  font-size: 1.8rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-bottom: 1px solid black;
  transition: all 0.15s;
}

thead tr th:first-child {
  text-align: left;
  padding-left: 3rem;
}

.statistic-table thead tr th:hover,
.statistic-table thead tr th:active {
  box-shadow: inset 0 -3px 0 0 black;
  background-color: $table-hover-grey;
}

.statistic-table thead tr th:hover::after,
.statistic-table thead tr th:active::after {
  content: '\2193';
  color: $aquamarine;
  padding-left: 1rem;
  position: absolute;
}


.statistic-table tbody tr:nth-child(even){
  background-color: $table-pink;
}

.statistic-table tbody tr td:first-child {
 text-align: left;
  padding-left: 2rem;
}

.statistic-table tbody {
  font-size: 1.4rem;

}

.statistic-table tbody tr td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

///// Pagination


.pagination {
  gap: 2rem;
  margin-bottom: 4rem;
  margin-left: 1.5rem;
}

.pagination a:link, .pagination a:visited {
  color: $aquamarine;
  text-decoration: none;
  font-size: 1.4rem;
}

.pagination a.current,
.pagination a:hover,
.pagination a:active {
  color: $dark-aquamarine;
}

// ========= Favorites section =========

.favorite-section {
  padding-bottom: 4rem;
}

.carousel {
  display: flex;
  justify-content: space-between;

  position: relative;

  margin-bottom: 6rem;
}

.carousel-btn {
  height: 6.5rem;
  width: 6.5rem;

  top: 50%;

  position:absolute;
  border: none;
  background: none;
  padding: 0;
}

.carousel-btn--left {
  left: 0;
  transform: translate(-150%, -50%);
}

.carousel-btn--right {
  right: 0;
  transform: translate(150%, -50%);
}

.chevron {
  fill: $chevron-grey;
}

.carousel-btn:hover .chevron {
  fill: $dark-grey;
}

// ========= Text section  =========

.text-section {
  padding-bottom: 3rem;
}

.text-section p {
  text-align: left;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

// ========= Footer  =========

footer {
  padding-bottom: 8.3rem;
}


.footer-flex-container {
  justify-content: space-between;
  align-items: center;
}

.float-nav {
  height: 5.3rem;
}

.left-float {
  float: right;
}

.right-float {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
}

// ========= Popup general =========

.popup__heading {
  height: 6.5rem;
  background: $popup-grey;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.6);
  display: none;
}

.popup-content {
  box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.popup:target {
  display:  block;
}

// ========= Add teacher popup =========

#add-teacher-popup .popup-content {
  max-width: 56rem;
  margin: 15rem auto 0;
  background: white;
}

.cross-icon {
  width: 2.5rem;
  stroke: white;
}

.popup__heading span {
  font-size: 2.6rem;
  color: white;
}

.add-teacher-form {
  padding: 3rem 3.5rem;
  row-gap: 2rem;
  column-gap: 3.6rem;
}

.add-teacher-form__name,
.add-teacher-form__surname,
.add-teacher-form__notes,
.add-teacher-form__button {
  grid-column: 1/-1;
}

.add-teacher-form input,
.add-teacher-form select {
  height: 3.6rem;
}

.add-teacher-form > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-teacher-form div label ,
.add-teacher-form div span {
  text-align: left;
  font-size: 1.6rem;
}

.add-teacher-form div input,
.add-teacher-form div select {
  padding: 0.8rem 1rem;
  font-size: 1.4rem;
}

.add-teacher-form .add-teacher-form__gender {
  grid-row: 6;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-teacher-form__gender div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.add-teacher-form__gender input {
  margin: 0;
}

.add-teacher-form .add-teacher-form__bgcolor {
  grid-row: 7;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

#background-color {
  height: 2.6rem;
}

.add-teacher-form__button {
  height: 6rem;
  font-size: 2.4rem;
}

#notes {
  height: 12rem;
}

// ========= Teacher info popup =========

#teacher-info-popup .popup-content {
  max-width: 95rem;
  margin: 15rem auto 0;
  background: white
}

.teacher-info-popup img {
  width: 32rem;
  height: 32rem;
}

.teacher-info-popup__box {
  padding: 2rem;
}

.teacher-info-popup__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  flex: 1;
}

.teacher-info-popup__info > div {
  width: 100%;
  justify-content: space-between;
}

.teacher-info-popup__box > div {
  gap: 4rem;
  font-size: 1.4rem;
  margin-bottom: 3.5rem;
}

.teacher-info-popup__name {
  font-size: 3.8rem;
}

.teacher-info-popup__speciality {
  font-size: 2.4rem;
}

.teacher-info-popup__mail,
.teacher-info-popup__toggle-map:link,
.teacher-info-popup__toggle-map:visited {
  color: $aquamarine;
}

.teacher-info-popup__toggle-map:link {
  text-decoration: underline $aquamarine dashed;
}

.teacher-info-popup__box > p,
.teacher-info-popup__box > a{
  text-align: left;
  font-size: 1.4rem;
  display: block;
}

.teacher-info-popup__box > p {
  margin-bottom: 2rem;
}

.teacher-info-popup__star {
  width: 4rem;
  fill: transparent;
  stroke: $star-yellow;
}

// ========= Media section =========

@media screen and (max-width: 1024px) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 768px) {

  html {
    font-size: 50%;
  }

  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .top-teachers-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .carousel {
    flex-wrap: wrap;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .carousel-btn--right {
    transform: translate(80%, -50%);
  }

  .carousel-btn--left {
    transform: translate(-80%, -50%);
  }

  #teacher-info-popup .popup-content {
    max-width: 75rem;
  }
}
